{%  extends 'wow/main.html' %}

{% block content %}

{%  include 'wow/adminstatus.html' %}

<br>

<div class="row">
	<div class="col-md-6" style="color:white">
		<h5>Vehicle Inventory</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>VIN</th>
					<th>Make</th>
					<th>Model</th>
					<th>License Plate</th>
					<th>Vehicle Class</th>
				</tr>
				{% for vehicle in vehicles %}
					<tr>
						<td>{{vehicle.vid}}</td>
						<td>{{vehicle.vin}}</td>
						<td>{{vehicle.vmake}}</td>
						<td>{{vehicle.vmodel}}</td>
						<td>{{vehicle.licenseplateno}}</td>
						<td>{{vehicle.classname}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6" style="color:white">
		<div class="row-md-6" style="color:white">
			
			<h5>Current Bookings</h5>
			<hr>
			<div class="card card-body">
				<!-- book ride btn was here -->
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'cars' id %}">View Rental Cars</a>
				<table class="table table-sm">
					<tr>
						<th>Car Model</th>
						<th>PickUP Date</th>
						<th>Dropoff Date</th>
					</tr>

					{% for order in curr_orders %}
						<tr>
							<td>{{order.v.v_make}} {{order.v.v_model}}</td>
							<td>{{order.pickup_date}}</td>
							<td>{{order.dropoff_date}}</td>
							{% if not order.end_odometer %}
							<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
							{% endif %}
						</tr>
					{% endfor %}

			
				</table>
			</div>
		</div>
		<div class="row-md-6" style="color:white">
			
			<h5>Current Bookings</h5>
			<hr>
			<div class="card card-body">
				<!-- book ride btn was here -->
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'cars' id %}">View Rental Cars</a>
				<table class="table table-sm">
					<tr>
						<th>Car Model</th>
						<th>PickUP Date</th>
						<th>Dropoff Date</th>
					</tr>

					{% for order in curr_orders %}
						<tr>
							<td>{{order.v.v_make}} {{order.v.v_model}}</td>
							<td>{{order.pickup_date}}</td>
							<td>{{order.dropoff_date}}</td>
							{% if not order.end_odometer %}
							<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
							{% endif %}
						</tr>
					{% endfor %}

			
				</table>
			</div>
		</div>
	</div>

</div>

{% endblock %}

<!-- <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' id %}">Book a Ride</a> -->