{%  extends 'wow/main.html' %}

{% block content %}

{%  include 'wow/adminstatus.html' %}

<br>

<div class="row">
	<div class="col-md-6" style="color:white">
		<h5>Vehicle Inventory</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>VIN</th>
					<th>Make</th>
					<th>Model</th>
					<th>License Plate</th>
					<th>Vehicle Class</th>
				</tr>
				{% for vehicle in vehicles %}
					<tr>
						<td>{{vehicle.vid}}</td>
						<td>{{vehicle.vin}}</td>
						<td>{{vehicle.vmake}}</td>
						<td>{{vehicle.vmodel}}</td>
						<td>{{vehicle.licenseplateno}}</td>
						<td>{{vehicle.classname}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6" style="color:white">
		<div class="row-md-6" style="color:white">
			<div id="heading_action">
				<h5>Rental Locations</h5> 
				<a class="btn btn-sm btn-info" href="/create_loc/">Add</a>
			</div>

			<hr>
			<div class="card card-body">
				<!-- book ride btn was here -->
				<table class="table table-sm">
					<tr>
						<th>Street</th>
						<th>City</th>
						<th>State</th>
						<th>Zip</th>
						<th>Phone number</th>
					</tr>

					{% for loc in rentalLoc %}
						<tr>
							<td>{{loc.loc_street}}</td>
							<td>{{loc.loc_city}}</td>
							<td>{{loc.loc_state}}</td>
							<td>{{loc.loc_zip}}</td>
							<td>{{loc.loc_phone_no}}</td>	
						</tr>
					{% endfor %}
			
				</table>
			</div>
		</div>
		<div class="row-md-6" id="invwrapper" style="color:white">	
			<h5>Invoices generated</h5>
			<hr>
			<div class="card card-body">
				<!-- book ride btn was here -->
				<table class="table table-sm">
					<tr>
						<th>Invoice id</th>
						<th>Date</th>
						<th>Amount</th>
						<th>rental id</th>
					</tr>

					{% for inv in invList %}
						<tr>
							<td>{{inv.id}}</td>
							<td>{{inv.invoice_date	}}</td>
							<td>{{inv.invoice_amount	}}</td>
							<td>{{inv.rental_id	 }}</td>	
						</tr>
					{% endfor %}

			
				</table>
			</div>
		</div>
	</div>

</div>

{% endblock %}
