{%  extends 'wow/main.html' %}

{% load static %}

{% block content %}
<!-- <p>Hello</p> -->
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
		
		<img src="{% static '/images/rentalscars.png' %}" height="400px" width="1200px" />

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<a class="btn btn-sm btn-info" href="{% url 'login' %}">Login</a> <br>
			<a class="btn btn-sm btn-info" href="{% url 'register' %}">Register</a> <br>
		</div>
	</div>
</div>


<br>


{% endblock %}